#mainPage {
  #content {
    padding-top: 20px;
    
    .narrow {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    @media (min-width: 768px) {
      .narrow {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }
}