ul.command-list li {
  padding-top: 10px;
}

.command {
  background-color: #e7e7e7;
  padding: 2px 4px;
}

.color-gray {
  color: #DDDDDD;
}

.color-orange {
  color: #FFA500;
}

.color-green {
  color: #00D000;
}